/* HEADER */
.header-bg {
	background-color: #AB0000;
}

/* CAROUSEL HEADER */
.carousel-header {
	margin: 0px -15px;
}
	.carousel-header .carousel-item .carousel-image {
		min-height: 30vh;
		max-height: 30vh;
		background-size: cover;
		background-position: center;
	}

/* NAVBAR */
nav.navbar {
	padding: 8px 0px;
}
	nav.navbar a {
		color: #FFFFFF;
	}

	nav.navbar .nav-item:hover {
		background-color: #FFFFFF44;
		color: #FFFFFF;
	}
		nav.navbar .nav-item:hover a {
			color: #FFFFFF;
		}

	nav.navbar .navbar-toggler {
		text-align: right;
	}

	nav.navbar .navbar-toggler-icon {
		color: #FFFFFF;
		font-size: 1.5rem;
		height: auto;
	}

	nav.navbar .dropdown-menu {
		background-color: #AB0000;
	}

/* FORMS */
.form-control:focus {
	border-color: #AB0000;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 4px rgba(100,100,100,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 4px rgba(100,100,100,.6);
}

/* FOOTER */
footer h4 {
	color: #FFFFFF;
	font-size: 1.2rem;
}

footer a {
	color: #ABABAB;
	font-size: .9rem;
}

footer a:hover {
	color: #FFFFFF;
	text-decoration: none;
}

footer .sign {
	display: inline-block;
	align-items: center !important;
	padding-right: 30px;
	border-right: solid 1px #ABABABAB;
}
	footer .sign .text {
		display: inline-block;
		font-size: 12px !important;
	}
		footer .sign .text * {
			font-size: 12px !important;
		}

	footer .sign .iso {
		display: inline-block;
		max-width: 110px;
		min-width: 110px;
		width: 110px;
	}
		footer .sign .iso .circle {
			width: auto;
			padding: 20px;
			background-color: #FFFFFF;
			border-radius: 100%;
			display: inline-block;
		}
			footer .sign .iso .circle img {
				width: 50px;
			}

@media (max-width: 768px) {
	.container {
		width: 100%;
		padding: 0px;
		max-width: none;
	}

	.carousel-header .carousel-item .carousel-image {
		min-height: 25vh;
		max-height: 25vh;
	}

	footer .sign {
		border-right: none;
		border-top: solid 1px #ABABABAB;
		display: block;
		margin-top: 30px;
		padding-top: 30px;
		text-align: center !important;
	}
		footer .sign .iso {
			display: inline-block;
			max-width: 80px;
			min-width: 80px;
			width: 80px;
		}
			footer .sign .iso .circle {
				padding: 12px;
			}
				footer .sign .iso .circle img {
					width: 32px;
				}

	footer .projects {
		margin-bottom: 30px;
		text-align: center !important;
	}
}