#===============================================================================
# Cabecera
#===============================================================================
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>


#===============================================================================
# Theme
#===============================================================================
Options +Indexes

<IfModule mod_autoindex.c>
	# Ignore listing of the listing directory
	IndexIgnore "/home/cdn.upps/directory_listing"

	# Indexing options
	IndexOptions +AddAltClass +Charset=UTF-8 +FancyIndexing +FoldersFirst +HTMLTable
	IndexOptions +IgnoreCase +NameWidth=* +SuppressRules +SuppressDescription +IconsAreLinks

	# Some meta tags to add to the head tag
	IndexHeadInsert "<meta name='viewport' content='width=device-width, initial-scale=1'><meta http-equiv='X-UA-Compatible' content='IE=edge'>"

	HeaderName "/home/cdn.upps/directory_listing/header.html"
	ReadmeName "/home/cdn.upps/directory_listing/footer.html"
	IndexStyleSheet "/home/cdn.upps/directory_listing/table-darkmode.css"

	# Registering icons
	# Default icon
	DefaultIcon "/home/cdn.upps/directory_listing/icons/unknown.svg"

	# Some generic icons
	AddIcon "/home/cdn.upps/directory_listing/icons/blank.svg" ^^BLANKICON^^
	AddIcon "/home/cdn.upps/directory_listing/icons/folder.svg" ^^DIRECTORY^^
	AddIcon "/home/cdn.upps/directory_listing/icons/folder-home.svg" ..

	# Extension specific icons
	AddIcon "/home/cdn.upps/directory_listing/icons/archive.svg" .zip .7z .bz2 .cab .gz .tar .rar
	AddIcon "/home/cdn.upps/directory_listing/icons/audio.svg" .aac .aif .aifc .aiff .ape .au .flac .iff .m4a .mid .mp3 .mpa .ra .wav .wma .f4a .f4b .oga .ogg .xm .it .s3m .mod
	AddIcon "/home/cdn.upps/directory_listing/icons/bin.svg" .bin .hex
	AddIcon "/home/cdn.upps/directory_listing/icons/code.svg" .xml
	AddIcon "/home/cdn.upps/directory_listing/icons/doc.svg" .doc .docx .docm .dot .dotx .dotm .log .msg .odt .pages .rtf .tex .wpd .wps
	AddIcon "/home/cdn.upps/directory_listing/icons/img.svg" .bmp .png .tiff .tif .gif .jpg .jpeg .jpe .psd .ai .ico .webp
	AddIcon "/home/cdn.upps/directory_listing/icons/spreadsheet.svg" .xlsx .xlsm .xltx .xltm .xlam .xlr .xls .csv
	AddIcon "/home/cdn.upps/directory_listing/icons/presentation.svg" .ppt .pptx .pot .potx .pptm .potm .xps
	AddIcon "/home/cdn.upps/directory_listing/icons/c++.svg" .cpp
	AddIcon "/home/cdn.upps/directory_listing/icons/c.svg" .c
	AddIcon "/home/cdn.upps/directory_listing/icons/css3.svg" .css .sass .scss .less
	AddIcon "/home/cdn.upps/directory_listing/icons/font.svg" .ttf .TTF .woff .WOFF .woff2 .WOFF2 .otf .OTF
	AddIcon "/home/cdn.upps/directory_listing/icons/h.svg" .h
	AddIcon "/home/cdn.upps/directory_listing/icons/html5.svg" .html .xhtml .shtml .htm .URL .url
	AddIcon "/home/cdn.upps/directory_listing/icons/info.svg" .nfo .info
	AddIcon "/home/cdn.upps/directory_listing/icons/iso.svg" .iso .img
	AddIcon "/home/cdn.upps/directory_listing/icons/java.svg" .jar .java
	AddIcon "/home/cdn.upps/directory_listing/icons/js.svg" .js .json
	AddIcon "/home/cdn.upps/directory_listing/icons/markdown.svg" .md
	AddIcon "/home/cdn.upps/directory_listing/icons/package.svg" .pkg .dmg .rpm .deb
	AddIcon "/home/cdn.upps/directory_listing/icons/pdf.svg" .pdf
	AddIcon "/home/cdn.upps/directory_listing/icons/php.svg" .php .phtml
	AddIcon "/home/cdn.upps/directory_listing/icons/py.svg" .py
	AddIcon "/home/cdn.upps/directory_listing/icons/rb.svg" .rb
	AddIcon "/home/cdn.upps/directory_listing/icons/script.svg" .bat .BAT .cmd .sh .ps .exe .EXE .msi .MSI
	AddIcon "/home/cdn.upps/directory_listing/icons/sql.svg" .sql
	AddIcon "/home/cdn.upps/directory_listing/icons/text.svg" .txt .cnf .conf .map .yaml
	AddIcon "/home/cdn.upps/directory_listing/icons/vector.svg" .svg .svgz
	AddIcon "/home/cdn.upps/directory_listing/icons/video.svg" .asf .asx .avi .flv .mkv .mov .mp4 .mpg .rm .srt .swf .vob .wmv .m4v .f4v .f4p .ogv .webm

	# Icons based on their type
	AddIconByType (TXT,/home/cdn.upps/directory_listing/icons/text.svg) text/*
	AddIconByType (IMG,/home/cdn.upps/directory_listing/icons/img.svg) image/*
	AddIconByType (SND,/home/cdn.upps/directory_listing/icons/audio.svg) audio/*
	AddIconByType (VID,/home/cdn.upps/directory_listing/icons/video.svg) video/*
</IfModule>

#===============================================================================
# Expiraciones
#===============================================================================
<IfModule mod_expires.c>
	ExpiresActive On 
	ExpiresDefault "access plus 1 month"

	# favicon
	ExpiresByType image/x-icon "access plus 1 year"
	
	# Images
	ExpiresByType image/gif "access plus 1 month"
	ExpiresByType image/png "access plus 1 month"
	ExpiresByType image/jpg "access plus 1 month"
	ExpiresByType image/jpeg "access plus 1 month"
	ExpiresByType image/svg+xml "access plus 1 month"
	
	# fonts
	ExpiresByType application/vnd.ms-fontobject "access plus 1 year"
	ExpiresByType application/x-font-ttf "access plus 1 year"
	ExpiresByType application/x-font-opentype "access plus 1 year"
	ExpiresByType application/x-font-woff "access plus 1 year"

	# css
	ExpiresByType text/css "access plus 1 month"
	
	# javascript
	ExpiresByType application/javascript "access plus 1 month"
</IfModule>


#===============================================================================
# Reescritura de URLs
#===============================================================================
<IfModule mod_rewrite.c>
	RewriteEngine On
    RewriteBase /
	RewriteRule ^rel-[0-9a-z]+/(.*)$ $1 [QSA,L]
</IfModule>