#===============================================================================
# Opciones de direcctorios
#===============================================================================
Options -Indexes
Options +FollowSymLinks
DirectoryIndex index.php index.html


#===============================================================================
# Juego de caracteres por defecto
#===============================================================================
AddDefaultCharset UTF-8
AddCharset UTF-8 .php
php_value default_charset "utf-8"


#===============================================================================
# Reescritura de URLs
#===============================================================================
<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^([0-9a-fx]*)/?(.*)$ index.php?s=$1&t=$2 [QSA,L]
</IfModule>